<html xmlns:th="http://www.thymeleaf.org">

<head>

<!--    bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <style>
        /* css */
        .block {
            display: inline-block;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .header-right {
            display: flex;
            justify-content: flex-end; /* span을 오른쪽으로 붙이기 위한 속성 */
        }

        .header-right span a {
            margin-left: 10px; /* 회원이름과 로그아웃 간의 간격 조절 */
        }
    </style>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--    bootstrap url-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
<!--    아이콘 url-->
    <script src="https://kit.fontawesome.com/011090149a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<!--body 시작-->
<body>
<div th:fragment="header">

    <div class="container" >
        <div>

        </div>
        <div class="header-right">
            <span>
                <a th:if="${userName == null}" th:onclick="|window.location.href='@{/login}'|">로그인</a>
                <a th:if="${userName !=null}" th:text="${userName}">회원이름</a>
                <a th:if="${userName !=null}" >|</a>
                <a th:if="${userName !=null}"  th:onclick="|window.location.href='@{/logout}'|">로그아웃</a>
            </span>
        </div>
    </div>

    <!--메뉴바-->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:onclick="|window.location.href='@{/main}'|">스터디 모임</a>
                <form th:action="@{/main}" class="d-flex" method="get">
                    <input class="form-control me-2" type="search" name="keyword"  placeholder="검색" aria-label="Search">
                    <input class="btn btn-outline-success" type="submit" value="Search">
                </form>
            </div>
        </nav>
    </div>
</div>

    <div class="container">

        <!--    전체, 모집 중, 모집 완료 메뉴바 -->
        <div>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div></div>
                <button type="button" class="btn btn-outline-dark mt-2" th:onclick="|location.href='@{/add}'|">글쓰기</button>
            </div>



            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/main}">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mainLikeTap}">좋아요순</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/mainMyBoard}" th:if="${userName!=null}">내글</a>
                </li>
            </ul>

            <div class="tab-pane fade show active" id="contact"  role="tabpanel">

                <div style="margin-top: 2%;" th:each="board: ${boardTap3}" th:onclick="|window.location.href='@{/detail/{id}(id=${board.id})}'|">
                    <h5 style="font-weight: bolder;" th:text="${board.title}">제목</h5>
                    <p class="ellipsis" style="font-weight: lighter;" th:text="${board.content}">
                    </p>
                    <div style="display: flex; justify-content: space-between; align-items: center;">

                        <div>
                            <small th:text="${board.userName} " style="font-weight: lighter;">작성자</small>
                            <!-- 현재 날짜 시간 -->
                            <small th:text="${board.createdAt}" style="font-weight: lighter;">현재 날짜, 시간</small>
                        </div>


                        <!-- 좋아요, 조회수 -->
                        <div>
                            <div>
                                <i class="fa-regular fa-heart"></i>
                                <span th:text="${board.like_count}"></span>
                                <small th:text="|조회수 ${board.boardHits}|">조회수</small>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 이전 페이지 그룹으로 이동 -->
                        <li class="page-item" th:classappend="${startPage3 > 1} ? '' : 'disabled'">
                            <a class="page-link" th:href="@{/mainMyboard(page3=${startPage3 - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- 현재 페이지 그룹의 페이지 번호 출력 -->
                        <li th:each="i : ${#numbers.sequence(startPage3, endPage3)}" class="page-item"
                            th:classappend="${i == currentPage3} ? 'active' : ''">
                            <a class="page-link" th:href="@{/mainMyboard(page3=${i})}" th:text="${i}"></a>
                        </li>

                        <!-- 다음 페이지 그룹으로 이동 -->
                        <li class="page-item" th:classappend="${endPage3 < totalPages3} ? '' : 'disabled'">
                            <a class="page-link" th:href="@{/mainMyboard(page3=${endPage3 + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</body>

</html>